/* Default light mode colors */

:root {
  --main-bg: #ffffff;
  --main-fg: #000;
  --main-dim: #f5f5f5;
  --main-logo: #007d90;
  --main-link: #1d98a8;
  --foot-link: #007d90;
  --article-header: #555;
  --table-header-bg: #009fb1;
  --table-header-fg: #f5f5f5;
  --quote-logo: #d6d6d6;
  --quote-fg: #2c2c2c;
}

/* Dark mode colors */

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg: #000;
    --main-fg: #ffffff;
    --main-dim: #191919;
    --main-logo: #007d90;
    --main-link: #1d98a8;
    --foot-link: #1d98a8;
    --article-header: #b6b6b6;
    --table-header-bg: #007d90;
    --table-header-fg: #f5f5f5;
    --quote-logo: #292929;
    --quote-fg: #d3d3d3;
  }
  .svg-icon {
    filter: invert(100%);
  }
  .invertable {
    filter: invert(100%);
  }
}

/* Main layout and design */

html {
  font-size: 63%;
}

body {
  color: var(--main-fg);
  background-color: var(--main-bg);
  font-size: 1.6rem;
  /* hack: making footer stay at bottom of the page */
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 0.2rem solid var(--main-logo);
  font-family: sans-serif;
  font-weight: bold;
}

main {
  padding-bottom: 2rem;
}

footer {
  padding-top: 0.5rem;
  font-size: 1.2rem;
  border-top: 0.2rem solid var(--main-logo);
  /* hack: making footer stay at bottom of the page */
  margin-top: auto;
  /* flex layout inside footer */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: baseline;
}

/* Design details */

.logo a {
  color: var(--main-logo);
  text-decoration: none;
  font-family: monospace;
}

.tagcloud a {
  text-decoration: none;
}

.tagcloud a:hover {
  color: var(--main-fg);
}

nav a {
  font-size: 2.0rem;
  color: var(--main-fg);
  text-transform: capitalize;
  text-decoration: none;
}

main a {
  color: var(--main-link);
}

nav a:hover {
  color: var(--main-logo);
}

.logo a:hover {
  color: var(--main-fg);
}

footer a {
  color: var(--foot-link);
}

/* general */

h1 {
  font-size: 3.0rem;
  font-family: sans-serif;
}

h2 {
  font-size: 2rem;
  font-family: sans-serif;
}

h3 {
  font-size: 1.8rem;
  font-family: sans-serif;
}

.article-header {
  font-size: 1.4rem;
  color: var(--article-header);
}

.article-tags {
  font-size: 1.4rem;
  color: var(--article-header);
}

.article-toc {
  font-size: 1.4rem;
  margin-top: 1.4rem;
}

.headerLink {
  text-decoration: none;
  color: var(--main-fg);
}

.headerLink::after {
  font-size: 1.6rem;
  content: " 🔗";
}

article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

article table {
  width: 100%;
  border-collapse: collapse;
}

article table thead {
  background-color: var(--table-header-bg);
  color: var(--table-header-fg);
}

article table thead code {
  background-color: var(--table-header-bg);
  color: var(--table-header-fg);
}

article table tbody tr:nth-child(even) {
  background-color: var(--main-dim);
}

code {
  background-color: var(--main-dim);
  border-radius: 5px;
  color: var(--main-link);
}

pre {
  padding: 1rem;
  background-color: var(--main-dim);
  overflow: auto;
}

pre code {
  color: var(--main-fg);
}

#ascii-art-banner code {
  background-color: var(--main-bg);
  color: var(--main-logo);
}

#ascii-art-banner {
  text-align: center;
  background-color: var(--main-bg);
}

blockquote {
  padding: 0px 1rem;
  margin: 1.5rem 0.5rem;
  border-color: currentcolor currentcolor currentcolor var(--quote-logo);
  color: var(--quote-fg);
  border-style: none none none solid;
  border-width: medium medium medium 0.5rem;
}

.svg-icon {
  height: 1.6rem;
  margin-left: 3px;
  vertical-align: text-bottom;
}

.post-end-note {
  padding: 1rem;
  background-color: var(--main-dim);
  text-align: center;
}

/* Responsive design and other media */

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
  footer {
    justify-content: center;
  }
  .footer-2 {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 3.2rem;
  }
}

@media (min-width: 640px) {
  body {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0;
    padding: 1.0rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  footer {
    justify-content: space-between;
  }
  .footer-2 {
    text-align: left;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 2.0rem;
  }
}

@media print {
  header {
    display: none;
  }
  body {
    font-size: 1.2em;
  }
  div.post-end-note {
    padding-top: 0.5rem;
    font-size: 1.2rem;
    border-top: 0.2rem solid var(--main-logo);
  }
  footer {
    display: inline;
  }
  div.footer-1 {
    display: none;
  }
  .headerLink::after {
    display: none;
  }
}
